################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.dll
*.exe
*.pdb
*/bin
*/obj
.vs/
bin/
obj/
